@import "../../../styles/variables.module.scss",
  "../../../styles/mixins.module.scss";

.project-page {
  padding-top: 40px;
}

#contact-section {
  padding-bottom: 125px;
  background: $color-neutral-100;
  & .heading {
    margin: 0 0 10px;
    font-size: 2.35rem;
    text-align: center;
    & .span {
      position: relative;
      z-index: 1;
      font-size: 1.28rem;
      &::after {
        @include pseudo;
        bottom: -2px;
        left: 19px;
        z-index: -1;
        width: 220px;
        height: 9px;
        background: $color-primary;
      }
    }
  }
}

@include breakpoint(tablet) {
  .project-page {
    padding-top: 70px;
  }

  #contact-section {
    & .heading {
      font-size: 2.45rem;
      & .span {
        font-size: 2rem;
        &::after {
          left: 28px;
          width: 347px;
          height: 13px;
        }
      }
    }
  }
}

@include breakpoint(desktop) {
  .project-page {
    padding-top: 100px;
  }

  #contact-section {
    .heading {
      font-size: 2.5rem;
      & .span {
        font-size: 2.35rem;
        &::after {
          left: 36px;
          width: 400px;
          height: 15px;
        }
      }
    }
  }
}
