@import "../../../styles/variables.module.scss",
  "../../../styles/mixins.module.scss";

.about-section {
  background: $color-neutral-100;
  & .heading {
    padding: 70px 0 30px;
    margin: 0 0 10px;
    font-size: 2.35rem;
    text-align: center;
    & .span {
      position: relative;
      z-index: 1;
      &::after {
        @include pseudo;
        z-index: -1;
        left: 25px;
        bottom: -2px;
        width: 102px;
        height: 14px;
        background: $color-primary;
      }
    }
  }
  & .container {
    @include flex-col-center-x;
    padding-bottom: 25px;
    margin: 50px 0 0;
    font-size: 0.9rem;
  }
}

@include breakpoint(tablet) {
  .about-section {
    & .heading {
      padding: 100px 0 30px;
      & .span {
        &::after {
          left: 24px;
          width: 100px;
        }
      }
    }
    & .container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      min-width: 670px;
      padding-bottom: 25px;
      margin: 60px auto 0;
    }
  }
}

@include breakpoint(desktop) {
  .about-section {
    & .heading {
      font-size: 2.5rem;
      & .span {
        &::after {
          left: 25px;
          width: 105px;
          height: 15px;
        }
      }
    }
  }

  .container {
    max-width: 1300px;
    padding-bottom: 25px;
    margin: 80px auto 0;
  }
}
