@import "../../../../styles/variables.module.scss",
  "../../../../styles/mixins.module.scss";

.motion {
  margin: 0 auto auto;
}

.bio {
  @include flex-col-center-x;
  min-width: 300px;
  max-width: 340px;
  margin-bottom: 110px;
  text-align: left;
  &.marginBottom {
    margin-bottom: 80px;
  }
  & .locationContainer {
    width: 204px;
    margin: 17px auto 24.4px;
    text-align: center;
    & .inner {
      @include flex-center-xy;
      width: 165px;
      & .icon {
        position: relative;
        z-index: 1;
        @include flex-center-y;
        width: 40px;
        height: 40px;
        &::after {
          @include pseudo;
          z-index: -1;
          top: 8px;
          left: 12px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $color-secondary;
          opacity: 0.8;
        }
        & .fa-map-pin {
          width: 35px;
          height: 35px;
          padding-top: 5px;
          margin-inline: auto;
          --fa-primary-color: #785af0;
          --fa-secondary-color: #2cb67d;
        }
      }
      & .location {
        margin: 0;
        border-bottom: 4px solid $color-primary;
        font-size: 1.4rem;
        &::selection,
        &::-moz-selection {
          background: $color-secondary;
          color: $color-neutral-100;
        }
      }
    }
  }
  & .text {
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
  }
  & .readMoreBtn {
    height: 16px;
    border: 0;
    background: #272727;
    color: $color-secondary;
  }
}

@include breakpoint(tablet) {
  .bio {
    margin: 15px 0 auto;
  }
}

@include breakpoint(desktop) {
  .bio {
    max-width: 440px;
    padding: 0;
    margin: 10px auto auto;
    & .readMoreBtn:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
}
