@import "../../../../styles/variables.module.scss",
  "../../../../styles/mixins.module.scss";

.resume {
  position: relative;
  z-index: 1;
  padding: 9px 5px 5px;
  border-bottom: 3px solid $color-primary;
  color: $color-neutral-300;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  &::after {
    @include pseudo;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $color-primary;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 0.3s;
  }
  &:hover {
    color: #1a1a1a;
  }
  &:hover::after {
    transform: scaleY(1);
  }
  &:focus {
    outline: 2px solid $color-secondary;
  }
}

@include breakpoint(tablet) {
  .resume {
    font-size: 0.65rem;
    &:hover {
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
}

@include breakpoint(desktop) {
  .resume {
    font-size: 0.7rem;
    &:hover {
      font-size: 0.725rem;
    }
  }
}
