@import "../../../styles/variables.module.scss",
  "../../../styles/mixins.module.scss";

.container {
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
  margin-inline: auto;
  background: $color-primary;
  &:hover {
    background: $color-secondary;
    transform: scale(1.1);
  }
  & .link {
    @include flex-center-xy;
    width: 40px;
    height: 40px;
    &:focus {
      outline: 2px solid $color-secondary;
    }
    & .fa-chevrons-up {
      color: #1a1a1a;
      font-size: 2rem;
    }
  }
}

/* BOB EFFECT FROM HOVER.CSS */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgb(0 0 0 / 0);
  @include vendor-prefixs(transform, perspective(1px) translateZ(0));
}

.hvr-bob,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@include keyframes(hvr-bob) {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@include keyframes(hvr-bob-float) {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
