@import "../../styles/variables.module.scss", "../../styles/mixins.module.scss";

.top-divider {
  height: 75px;
  background: $color-neutral-300;
}

.projects {
  background: $color-neutral-300;
  & .heading {
    margin: 0 0 90px;
    font-size: 2.35rem;
    text-align: center;
    & .span {
      position: relative;
      z-index: 1;
      color: $color-neutral-100;
      &::after {
        @include pseudo;
        z-index: -1;
        bottom: -2px;
        left: 25px;
        width: 138px;
        height: 14px;
        background: $color-primary;
      }
    }
  }
  & .list {
    @include flex-col-center-x;
    gap: 40px;
    padding-bottom: 115px;
  }
}

@include breakpoint(tablet) {
  .projects {
    & .heading {
      font-size: 2.45rem;
      & .span {
        &::after {
          width: 140px;
          left: 24px;
        }
      }
    }
    & .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 50px;
      padding: 0 28px 115px;
    }
  }
}
