// FLEXBOX --------------------------
// justify-center
@mixin flex-center-x {
  display: flex;
  justify-content: center;
}

// align-center
@mixin flex-center-y {
  display: flex;
  align-items: center;
}

// align-center
// justify-center
@mixin flex-center {
  @include flex-center-y;
  justify-content: center;
}

// column
// align-center
@mixin flex-col-center-x {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// column
// justify-center
@mixin flex-col-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

