// FONT VARIABLES
$font-primary: normal 16px/1.5 "Monteserrat", sans-serif;

// FONT WEIGHTS
$font-light: 300;
$font-medium: 500;

// COLOR VARIABLES
$color-neutral-100: #1a1a1a;
$color-neutral-200: #272727;
$color-neutral-300: #fafafa;
$color-primary: #785af0;
$color-secondary: #2cb67d;
$color-css: #1572b6;
$color-git: #f1512f;
$color-html: #f16529;
$color-js: #f0db4f;
$color-next: #000;
$color-react: #62dafb;
$color-sass: #c76494;
$color-tailwind: #36bdf9;
$color-social-email: #fbb612;
$color-social-github: #4183c4;
$color-social-linkedin: #0966c2;
