@import "../../../styles/variables.module.scss",
  "../../../styles/mixins.module.scss";

.project {
  width: 325px;
  margin-bottom: 40px;
  .container {
    @include flex-col-center-x;
    justify-content: center;
    max-width: calc(100vw - 60px);
    border: 5px solid $color-neutral-100;
    margin-inline: auto;
    box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 0.35);
    & .video {
      @include flex-center-x;
      width: 100%;
      background: $color-neutral-100;
    }
    & .imgContainer {
      height: 164px;
      overflow-y: hidden;
      & .img {
        width: 100%;
        height: auto;
        background: $color-neutral-100;
        transform: translateY(0%);
      }
    }
    &--bottom {
      @include flex-col-center-x;
      justify-content: center;
      width: 100%;
      background: $color-neutral-100;
      & .heading {
        @include flex-center-x;
        width: 100%;
        margin: 8px auto 0;
        background: $color-neutral-100;
        color: $color-secondary;
        font-size: 1.35rem;
        text-align: center;
      }
      & .description {
        padding: 0 8px;
        margin: 0 0 12px;
        font-size: 0.9rem;
        letter-spacing: 0.15px;
        text-align: center;
      }
    }
  }
}

@include breakpoint(tablet) {
  .project {
    width: 718px;
    & .container {
      & .imgContainer {
        height: 368px;
      }
    }
    & .container--bottom {
      & .heading {
        font-size: 1.7rem;
      }
    }
  }
}

@include breakpoint(desktop) {
  .project {
    width: 724px;
    & .container {
      & .imgContainer {
        height: 371px;
        & .img {
          &--audiophile {
            transition: transform 12s ease-in-out 0s;
            &:hover {
              transform: translateY(-80.9%);
            }
          }
          &--quizzical {
            transition: transform 2s ease-in-out 0s;
            &:hover {
              transform: translateY(-16.8%);
            }
          }
          &--dictionary {
            transition: transform 2s ease-in-out 0s;
            &:hover {
              transform: translateY(-18.3%);
            }
          }
        }
      }
    }
    & .container--bottom {
      & .heading {
        font-size: 2rem;
      }
    }
  }
}

@include breakpoint(large) {
  .project {
    & .container {
      & .imgContainer {
        height: 442px;
        & .img {
          &--audiophile {
            transition: transform 12s ease-in-out 0s;
            &:hover {
              transform: translateY(-77.3%);
            }
          }
          &--securepass {
            height: 100%;
          }
          &--quizzical {
            transition: transform 2s ease-in-out 0s;
            &:hover {
              transform: none;
            }
          }
          &--dictionary {
            transition: transform 2s ease-in-out 0s;
            &:hover {
              transform: translateY(-2.8%);
            }
          }
        }
      }
    }
  }
}
