@import "../../../styles/variables.module.scss",
  "../../../styles/mixins.module.scss";

.project {
  max-width: 850px;
  margin-bottom: 40px;
  .container {
    @include flex-col-center-x;
    justify-content: center;
    max-width: calc(100vw - 60px);
    border: 5px solid $color-neutral-100;
    margin-inline: auto;
    box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 0.35);
    & .video {
      @include flex-center-x;
      width: 100%;
      background: $color-neutral-100;
    }
    &--bottom {
      @include flex-col-center-x;
      justify-content: center;
      width: 100%;
      background: $color-neutral-100;
      & .heading {
        @include flex-center-x;
        width: 100%;
        margin: 8px auto 0;
        background: $color-neutral-100;
        color: $color-secondary;
        font-size: 1.35rem;
        text-align: center;
      }
      & .description {
        padding: 0 8px;
        margin: 0 0 12px;
        font-size: 0.9rem;
        letter-spacing: 0.15px;
        text-align: center;
      }
    }
  }
}
