@import "../../../styles/variables.module.scss",
  "../../../styles/mixins.module.scss";

.mobile-nav {
  z-index: 200;
  & .container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background: $color-neutral-200;
    & .list {
      position: absolute;
      top: 50%;
      left: 50%;
      @include flex-col-center-x;
      justify-content: space-between;
      height: 200px;
      padding-left: 0;
      transform: translate(-50%, -50%);
      list-style-type: none;
      & .link {
        position: relative;
        z-index: 1;
        padding: 9px 0 0;
        border-bottom: 3px solid $color-primary;
        color: $color-neutral-300;
        font-size: 1.65rem;
        font-weight: $font-light;
        &::after {
          @include pseudo;
          left: 0;
          bottom: 0;
          z-index: -1;
          background: $color-primary;
          transform: scaleY(0);
          transform-origin: bottom center;
          transition: transform 0.3s;
        }
      }
    }
  }
}
